.bg-cover {
  background-image: url("../../assests/images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: "12px";
}

.person-img {
  background-image: url("../../assests/images/vector.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: "12px";
  z-index: 55;
}
